.nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
	height: 75px;
}
.nav:after {
    content: "";
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
}
.nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	align-items: center;
	font-size: 24px;
	color: black;
}
.logo a h1{
	font-weight: 700;
    display: inline-block;
    font-family: Kaushan Script;
	font-size: 37px;
	top: 10px;
    color: transparent;
    display: inline-block;
    border-radius: 3px;
    background-color: #1d3557;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
  }
.logo a h1:before{
	content: 'AfzalBiDhan';
	background: linear-gradient(90deg, rgba(245,137,21,1) 0%, rgba(253,29,29,1) 51%, rgba(29,53,87,1) 100%);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 0;
	background-clip: text;
	-webkit-background-clip: text;
	transition: all 1s ease-in-out;
	animation: text-animationn 3s infinite;
}
@keyframes text-animationn{
  0%{
    width: 0;
  }
  50%{
    width: 100%;
  }
  100%{
    width: 0;
  }
}
.nav .links {
	float: right;
	padding: 0;
	margin: 0;
	width: 44%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-right: 70px;
}
.nav .links li {
	list-style: none;
	z-index: 1;
	position: relative;
}
.nav .links a {
	display: block;
	padding: 1em;
	font-size: 16px;
	font-weight: bold;
	color: black;
	text-decoration: none;
	width: 124px;
	margin-right: -16px;
	transition: all 0.3s ease;
}
.nav .links li a:hover{
	color: #2caeba;
}
.nav .icon-burger {
	display: none;
}
.links li a svg.MuiSvgIcon-root{
	margin-right: 5px;
    font-size: 21px!important;
    margin-top: -4px;
}
@media screen and (max-width: 768px) {
	.nav .logo {
		float: none;
		width: auto;
		justify-content: center;
	}
	.nav {
		height: 89px;
    	padding: 14px 0px;
	}
	.nav .links{
		display: none;
	}
	.nav .icon-burger {
		display: block;
		z-index: 1;
    	position: relative;
	}
}