.sidbar_nav .nav_icon{
    font-size: 50px;
    cursor: pointer;
    position: relative;
    top: -100px;
    float: right;
}
.icon2 svg.MuiSvgIcon-root {
    font-size: 50px;
}
.sidebarMenu svg.MuiSvgIcon-root{
	margin-top: 6px;
    margin-right: 5px;
}
.idebarContainer{
    position: fixed;
    z-index: 999;
    width: 350px;
    height: 100%;
    display: grid;
    align-items: center;
    top: 0;
    transition: 0.3s ease-in-out;
    background: #70f3ff;
}
.all{
    background-color: #000;
}
.icon2{
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    background: transparent;
    border: transparent;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
}
.sidebarMenu{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 80px);
    text-align: center;
}
.sidebarMenu a{
    display: flex;
    justify-content: center;
    font-size: 24px;
    transition: 0.2s ease-in-out;
    color: #000;
    font-weight: 700;
    cursor: pointer;
}
.sidebarMenu a:hover {
    text-decoration: none;
    transition: 0.2s ease-in-out;
}
.sideBtnWrap{
    display: flex;
    justify-content: center;
}
.sidebarRoute{
    white-space: nowrap;
    padding: 16px 64px;
    color: #fff;
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
.sidebarRoute:hover{
    transition: 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}
@media screen and (max-width: 400px) {
    .idebarContainer{
        width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    .sidebarMenu{
        grid-template-rows: repeat(5, 60px);
    }
  }