*{
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;800&display=swap');